<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./{{ test_dir }}/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="{{ name }} Test Suite">
            <directory suffix="Test.php">./{{ test_dir }}/{{ name }}/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./{{ source_dir }}/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
